@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌗 다크/라이트 색상 변수 */
:root {
  --bg-color: #fff;
  --fg-color: #111;
  --link-color: #1a73e8;
  --code-bg: #eee;
}

body.dark-mode {
  --bg-color: #111;
  --fg-color: #ededed;
  --link-color: #82aaff;
  --code-bg: #222;
}

/* 전역 적용 */
html,
body,
* {
  cursor: url("/images/mouseicon/pointer.ico") 0 0, auto;
}

body {
  margin: 0;
  font-family: 'Latin Modern', serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* 링크 */
a {
  color: var(--link-color) !important;
  text-decoration: none !important;
}

/* hero-title */
.hero-title {
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.005em;
  font-size: 9vh;

  background-image:
    linear-gradient(
      to bottom,
      rgba(255,255,255,0.85) 0%,
      rgba(255,255,255,0.85) 50%,
      transparent 50%,
      transparent 100%
    ),
    url("/images/lee-su-yeon-header-bright-hot3.jpg");

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 다크모드 텍스트 */
body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode li {
  color: var(--fg-color) !important;
}

/* KaTeX */
body.dark-mode .katex {
  color: var(--fg-color) !important;
}

/* code */
code {
  background-color: var(--code-bg);
  padding: 2px 6px;
  border-radius: 4px;
}

.font-carattere {
  font-family: 'Carattere', cursive !important;
}

.font-carattere * {
  font-family: 'Carattere', cursive !important;
}

.paren-highlight {
  color: #ffcc88;
  font-weight: 500;

  white-space: nowrap;
  display: inline-block;
}

.katex,
.katex * {
  opacity: 0.94;
  text-shadow: 0 0.25px 0.9px rgba(0, 60, 80, 0.92);
}

/* sidebar scrollbar */

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(230, 210, 170, 0.72);
  border-radius: 999px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: rgba(245, 225, 185, 0.92);
}

.sidebar {
  scrollbar-width: thin;
  scrollbar-color: rgba(230, 210, 170, 0.72) transparent;
}

/* sidebar scrollbar----------end */