@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ededed;
}

body {
  margin: 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgba(255, 255, 255, 0.83) !important;
  text-decoration: none !important;
}

/* 🔥 TEXTURE TITLE */
.hero-title {
  background-image: url("/images/lee-su-yeon-header-bright.jpg");
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.005em;

  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* 🔥 WHITE OVERLAY TITLE (bar 안에서만 보일 것) */
.hero-title-white {
  color: rgba(255, 255, 255, 0.8);

  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.005em;

  pointer-events: none;
}